<!DOCTYPE html>
<html>
<head>
    <title>Secure QR System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% if not qr_generated %}

    <!-- SHOW FORM BEFORE GENERATING -->
    <div class="card">
        <h1>Secure QR Code Generator</h1>

        <form method="POST">

            <textarea 
                name="message" 
                placeholder="Enter Confidential Message"
                required></textarea>

            <input 
                type="password" 
                name="password" 
                placeholder="Enter Password"
                required>

            <button type="submit" name="generate" class="btn-generate">
                Generate QR
            </button>

            <button type="submit" name="decrypt" class="btn-decrypt">
                Scan & Decrypt
            </button>

        </form>
    </div>

{% else %}

    <!-- SHOW ONLY QR AFTER GENERATING -->
    <div class="qr-only">
        <img src="/secure_qr.png" class="qr-image-large">
    </div>

{% endif %}

</body>
</html>